Exe/Schemas/dms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iss.pontagrossa.pr.gov.br/Arquivos/dms.xsd" xmlns="http://iss.pontagrossa.pr.gov.br/Arquivos/dms.xsd" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema20020212.xsd"/>


  <!-- definition of simple elements -->
  <xsd:simpleType name="tsNumeroNfs">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="15"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsStatusNfs">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsExigibilidadeISS">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4|5|6|7"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroProcesso">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsRegimeEspecialTributacao">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4|5|6"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsSimNao">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsSerie">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsTipoDocumento">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsOutrasInformacoes">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsValor">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="15"/>
      <xsd:fractionDigits value="2" fixed="true"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsItemListaServico">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsAliquota">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="6"/>
      <xsd:fractionDigits value="4"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsDiscriminacao">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoMunicipioIbge">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="7"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsInscricaoMunicipal">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsRazaoSocial">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="150"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNomeFantasia">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="150"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCnpj">
    <xsd:restriction base="xsd:string">
      <xsd:length value="14" fixed="true"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsEndereco">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="125"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroEndereco">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tsComplementoEndereco">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tsBairro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsUf">
    <xsd:restriction base="xsd:string">
      <xsd:length value="2" fixed="true"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoPaisBacen">
    <xsd:restriction base="xsd:string">
      <xsd:length value="4"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCep">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsEmail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsTelefone">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCpf">
    <xsd:restriction base="xsd:string">
      <xsd:length value="11" fixed="true"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoObra">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsArt">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroLote">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="15"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroBoleto">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="10"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroProtocolo">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsSituacaoLote">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsTipoDeclaracao">
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsQuantidade">
    <xsd:restriction base="xsd:int">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoMensagem">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsDescricaoMensagem">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsVersao">
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="[1-9]{1}[0-9]{0,1}\.[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsIdTag">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsMesCompetencia">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsProtocoloSemMovimento">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoAutenticidade">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- definition of complex elements -->
  <xsd:complexType name="tcInfDeclaracaoSemMovimento">
    <xsd:sequence>
      <xsd:element name="MesCompetencia" type="tsMesCompetencia" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Protocolo" type="tsProtocoloSemMovimento" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TipoDeclaracao" type="tsTipoDeclaracao" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Retificada" type="tsSimNao" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcLoteDeclaracoesSemMovimento">
    <xsd:sequence>
      <xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="QuantidadeDeclaracoes" type="tsQuantidade" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ListaDeclaracoes" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeclaracaoSemMovimento" type="tcInfDeclaracaoSemMovimento" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Id" type="tsIdTag"/>
  </xsd:complexType>

  <xsd:complexType name="tcRespostaDeclaracoesSemMovimento">
    <xsd:sequence>
      <xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QuantidadeDeclaracoes" type="tsQuantidade" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ListaDeclaracoes" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeclaracaoSemMovimento" type="tcInfDeclaracaoSemMovimento" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Id" type="tsIdTag"/>
  </xsd:complexType>

  <xsd:complexType name="tcConsultaDeclaracaoSemMovimento">
    <xsd:sequence>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="1" maxOccurs="1"/>
      <xsd:choice>
        <xsd:element name="Protocolo" type="tsProtocoloSemMovimento" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="TipoDeclaracao" type="tsTipoDeclaracao" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Retificada" type="tsSimNao" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcPeriodoDeclaracao">
    <xsd:choice>
      <xsd:element name="PeriodoInicial" type="tsMesCompetencia" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PeriodoFinal" type="tsMesCompetencia" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="tcDadosServicoTomado">
    <xsd:sequence>
      <xsd:element name="NumeroNota" type="tsNumeroNfs" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CodigoAutenticidade" type="tsCodigoAutenticidade" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="IdentificacaoPrestador" type="tcIdentificacaoPrestador" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="tsIdTag"/>
  </xsd:complexType>

  <xsd:complexType name="tcCpfCnpj">
    <xsd:choice>
      <xsd:element name="Cpf" type="tsCpf" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Cnpj" type="tsCnpj" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="tcEndereco">
    <xsd:sequence>
      <xsd:element name="Endereco" type="tsEndereco" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Numero" type="tsNumeroEndereco" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Complemento" type="tsComplementoEndereco" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Bairro" type="tsBairro" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Uf" type="tsUf" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CodigoPais" type="tsCodigoMunicipioIbge" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Cep" type="tsCep" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcContato">
    <xsd:sequence>
      <xsd:element name="Telefone" type="tsTelefone" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Email" type="tsEmail" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcIdentificacaoPrestador">
    <xsd:sequence>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcIdentificacaoTomador">
    <xsd:sequence>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcDadosTomador">
    <xsd:sequence>
      <xsd:element name="IdentificacaoTomador" type="tcIdentificacaoTomador" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RazaoSocial" type="tsRazaoSocial" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NomeFantasia" type="tsNomeFantasia" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Endereco" type="tcEndereco" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Contato" type="tcContato" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcValoresDeclaracaoServico">
    <xsd:sequence>
      <xsd:element name="ValorBaseCalculo" type="tsValor" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ValorServicos" type="tsValor" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ValorDeducoes" type="tsValor" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ValorIss" type="tsValor" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Aliquota" type="tsAliquota" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcDadosServico">
    <xsd:sequence>
      <xsd:element name="Valores" type="tcValoresDeclaracaoServico" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="IssRetido" type="tsSimNao" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ItemListaServico" type="tsItemListaServico" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Discriminacao" type="tsDiscriminacao" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CodigoPais" type="tsCodigoPaisBacen" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ExigibilidadeISS" type="tsExigibilidadeISS" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="MunicipioIncidencia" type="tsCodigoMunicipioIbge" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NumeroProcesso" type="tsNumeroProcesso" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcDadosConstrucaoCivil">
    <xsd:sequence>
      <xsd:element name="CodigoObra" type="tsCodigoObra" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Art" type="tsArt" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcDadosPrestador">
    <xsd:sequence>
      <xsd:element name="IdentificacaoPrestador" type="tcIdentificacaoPrestador" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="RazaoSocial" type="tsRazaoSocial" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NomeFantasia" type="tsNomeFantasia" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Endereco" type="tcEndereco" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Contato" type="tcContato" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="tcFiltroConsultaNotas">
    <xsd:sequence>
      <xsd:element name="DataInicialEmissao" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DataFinalEmissao" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TipoDeclaracao" type="tsTipoDeclaracao" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NumeroNota" type="tsNumeroNfs" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SerieNota" type="tsSerie" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TipoDocumentoNota" type="tsTipoDocumento" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ExigibildiadeISS" type="tsExigibilidadeISS" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="IssRetido" type="tsSimNao" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipalConsultado" type="tsInscricaoMunicipal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RazaoSocialConsultado" type="tsRazaoSocial" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NumeroBoleto" type="tsNumeroBoleto" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcIdentificacaoNfs">
    <xsd:sequence>
      <xsd:element name="Numero" type="tsNumeroNfs" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Serie" type="tsSerie" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TipoDocumento" type="tsTipoDocumento" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcNotaFiscal">
    <xsd:sequence>
      <xsd:element name="IdentificacaoNotaFiscal" type="tcIdentificacaoNfs" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DataEmissao" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Status" type="tsStatusNfs" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="TipoDeclaracao" type="tsTipoDeclaracao" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ValorTotal" type="tsValor" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="tsIdTag"/>
  </xsd:complexType>

  <xsd:complexType name="tcInfNotaFiscal">
    <xsd:sequence>
      <xsd:element name="NotaFiscal" type="tcNotaFiscal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ListaServicos" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Servico" type="tcDadosServico" minOccurs="1" maxOccurs="unbounded">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Tomador" type="tcDadosTomador" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Prestador" type="tcDadosPrestador" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ConstrucaoCivil" type="tcDadosConstrucaoCivil" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcNfs">
    <xsd:sequence>
      <xsd:element name="InfNfse" type="tcInfNotaFiscal" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="InfNotaFiscal" type="tcInfNotaFiscal"/>

  <xsd:complexType name="tcLoteNotasFiscais">
    <xsd:sequence>
      <xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="QuantidadeNotas" type="tsQuantidade" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="OptanteSimplesNacional" type="tsSimNao" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="RegimeEspecialTributacao" type="tsRegimeEspecialTributacao" minOccurs="0" />
      <xsd:element name="ListaNotas" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InfNotaFiscal" type="tcInfNotaFiscal" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Id" type="tsIdTag"/>
  </xsd:complexType>

  <xsd:complexType name="tcMensagemRetorno">
    <xsd:sequence>
      <xsd:element name="Codigo" type="tsCodigoMensagem" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Mensagem" type="tsDescricaoMensagem" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Correcao" type="tsDescricaoMensagem" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcMensagemRetornoLote">
    <xsd:sequence>
      <xsd:element name="IdentificacaoNotaFiscal" type="tcIdentificacaoNfs" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Codigo" type="tsCodigoMensagem" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Mensagem" type="tsDescricaoMensagem" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ListaMensagemRetornoLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MensagemRetorno" type="tcMensagemRetornoLote" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ListaMensagemRetorno">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MensagemRetorno" type="tcMensagemRetorno" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ListaMensagemAlertaRetorno">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MensagemRetorno" type="tcMensagemRetorno" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="cabecalho">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="versaoDados" type="tsVersao" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="versao" type="tsVersao" use="required"/>
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="ImportacaoNotasFiscais">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LoteNotasFiscais" type="tcLoteNotasFiscais"/>
        <xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="EnviarLoteNotasFiscaisResposta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DataRecebimento" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Protocolo" type="tsNumeroProtocolo" minOccurs="1" maxOccurs="1"/>
        <xsd:element ref="ListaMensagemRetorno" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ImportacaoNotasFiscaisSincrono">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LoteNotasFiscais" type="tcLoteNotasFiscais"/>
      </xsd:sequence>
    </xsd:complexType>

  </xsd:element>

  <xsd:element name="EnviarLoteNotasFicaisSincronoResposta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="DataRecebimento" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Protocolo" type="tsNumeroProtocolo" minOccurs="0" maxOccurs="1"/>
        <xsd:choice>
          <xsd:element name="ListaNfs" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="NotaFiscal" type="tcNfs" minOccurs="1"/>
                <xsd:element ref="ListaMensagemAlertaRetorno" minOccurs="0" maxOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ListaMensagemRetornoLote" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConsultarLoteNotasFiscaisEnvio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Prestador" type="tcIdentificacaoPrestador" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Protocolo" type="tsNumeroProtocolo" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConsultarLoteNotasFiscaisResposta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Situacao" type="tsSituacaoLote" minOccurs="1" maxOccurs="1"/>
        <xsd:choice>
          <xsd:element name="ListaNfs" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="NotaFiscal" type="tcNfs" minOccurs="1"/>
                <xsd:element ref="ListaMensagemAlertaRetorno" minOccurs="0" maxOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ListaMensagemRetornoLote" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RecepcionarDeclaracoesSemMovimento">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LoteDeclaracoes" type="tcLoteDeclaracoesSemMovimento"/>
        <xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RespostaDeclaracoesSemMovimento">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="Resposta" type="tcRespostaDeclaracoesSemMovimento" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ListaMensagemRetornoLote" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConsultaDeclaracoesSemMovimento">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Consulta" type="tcConsultaDeclaracaoSemMovimento" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RespostaConsultaDeclaracoesSemMovimento">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="ListaDeclaracoes" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DeclaracaoSemMovimento" type="tcInfDeclaracaoSemMovimento" minOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ServicoTomadoAutomatizada">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IdentificacaoTomador" type="tcIdentificacaoTomador"/>
        <xsd:element name="Declaracao" type="tcDadosServicoTomado"/>
        <xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="NotasFiscaisResposta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="NotaFiscal" type="tcNfs"/>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConsultarNotasFiscaisEnvio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EmpresaAtiva" type="tcIdentificacaoPrestador" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Filtro" type="tcFiltroConsultaNotas" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConsultaNotasFiscaisResposta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="ListaNfs" minOccurs="1" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="NotaFiscal" type="tcNfs" minOccurs="1"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>